<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.reactlibrary">
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
</manifest>
